@import url(//fonts.googleapis.com/css?family=Anonymous+Pro);

/**@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
* Terminal container.
* Important note: The "VT323" font face comes from Google web fonts.
*/
fake-terminal::shadow #terminal {
    font-family: 'Anonymous+Pro', monospace;
    width:       100%;
    height:      100%;
}

.help{
    color:#4C564D !important;
}

/**
* The input span where the input happens.
* Also applied to the previous inputs made in the current session.
*/
#terminal .input {
    min-width: 1em;
    height: 1em;
    display:inline-block;
    border: none;
    outline-color: transparent;
}

fake-terminal::shadow #terminal .input {
    height:         1em;
    min-width:      1em;
    outline-color:  transparent;
    border:         none;
    display:        inline-block;
}

fake-terminal::shadow #terminal p {
    margin:     0;
    padding:    0;
}
